body{
	margin: 0;
	font-family: "Lucida Grande";
}

a{
	text-decoration: none;
}

header{
	height: 65px;
	width: 100%;
	background-color: rgba(34, 49, 52, 0.8);
	position: fixed;
	top: 0;
	z-index: 1;
}

.header-right{
	float: right;
	background-color: rgba(255, 255, 255, 0.3);
	transition: all 0.3s;
}

.header-right:hover{
	background-color: rgba(255, 255, 255, 0.6);
}

.header-right a{
	line-height: 65px;
	padding: 0 25px;
	color: white;
	display: block;
}

.logo{
	font-size: 30px;
	color: azure;
	padding: 15px 0px;
	float: left;
}

.container{
	width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.top-wrapper{
	padding: 140px 0 60px 0px;
	color: white;
	background-image: url("https://uyizdofukizi.nasihosting.com/MatkulWeb/TugasKedua/img/1.jpg");
	background-size: cover;
	text-align: center;
	opacity: 0.9;
}


.top-wrapper h1{
	font-size: 45px;
	letter-spacing: 5px;
	margin-bottom: 10px;
}

.top-wrapper p{
	font-size: 17px;
	margin-bottom: 3px;
}

.lesson-wrapper{
	height: 420px;
	padding-bottom: 80px;
	background-color: #f7f7f7;
	text-align: center;
}

.lesson-icon{
	position: relative;
}

/*.lesson-icon p{
	position: absolute;
	top: 80px;
	width: 100%;
	color: white;
}*/

.txt-content{
	width: 80%;
	display: inline-block;
	margin-top: 20px;
	font-size: 15px;
	color: #b3aeb5;
}

.heading{
	padding-top: 60px;
	padding-bottom: 30px;
	color: #5f5d60;
}

.heading h2{
	font-weight: normal;
}

.heading h3{
	font-weight: normal;
}

.lesson{
	float: left;
	width: 25%;
}

.btn{
	padding: 12px 24px;
	color: white;
	display: inline-block;
	opacity: 0.9;
	border-radius: 4px;
}

.btn:hover{
	opacity: 1;
}

.signup{
	background-color: #239b76;
}

.facebook{
	background-color: #3b5998;
	margin-right: 5px;
}

.twitter{
	background-color: #55acee;
	margin-left: 5px;
}

.bi{
	margin-right: 5px;
}

.btn-wrapper{
	margin: 20px 0;
}

.btn-wrapper p{
	margin: 10px 0;
}

.message-wrapper{
	border-bottom: 1px solid #eee;
	padding-bottom: 80px;
	text-align: center;
}

.message{
	background-color: #5dca88;
	padding: 15px 40px;
	cursor: pointer;
	box-shadow: 0 7px #1a7940;
}

.message:active{
	box-shadow: none;
	position: relative;
	top: 7px;
}

footer{
	padding-top: 30px;
}

footer img{
	width: 125px;
}

footer p{
	color: #b3aeb5;
	font-size: 12px;
}

.footerIdentity section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202835;
    color: white;
    padding: 1rem;
}
.footerIdentity section h1{
    padding: 0px 1rem 0px 0px;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
}

.footerIdentity section a{
    text-decoration: none;
    color: white;
}

.footerIdentity section td{
    padding: 5px;
}

.footerIdentity section td img{
    width: 1rem;
    filter: invert(90%);
}
